@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>welcome to vehicle Rental Agency</h1>
    <p class="lead"> City's No.1 Online Vehicle Rental Agency</p>
    <p><a href="/Vehicle/Search" class="btn btn-primary btn-lg">search & Book!!!! &raquo;</a></p>

</div>
